<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>About me</h2>
            <p>
                I know from my own experience how difficult and exhausting
                trying to find a therapy in Germany can be. My own mental health
                journey led me to a deep conviction of how important it is to be
                fully aware of what therapy constitutes, what it can and cannot
                do, what type is suited to what problem.
            </p>
        </header>
        <ul class="actions vertical">
            <li><a href="#" class="button fit special">Activate</a></li>
            <li><a href="#" class="button fit">Learn More</a></li>
        </ul>
    </div>
</section>
