<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Accumsan mus tortor nunc aliquet</h2>
            <p>
                Whether you’re seeking therapy for the first time or looking for
                a change, let’s work together to find the support that works for
                you. Reach out today to take the first step toward better mental
                well-being!
                <br />
                <b>Disclaimer:</b> this does not substitute a therapy. Diagnosis
                is not offered
            </p>
        </header>
        <ul class="features">
            <li class="icon fa-euro">
                <h3>Costs</h3>
                <p>
                    One 50-minute unit costs 70 Euro plus VAT. Please note that
                    this is not covered by a health service provider.
                </p>
            </li>
            <li class="icon fa-question">
                <h3>How does it work?</h3>
                <p>
                    Before our first appointment, I will send you a short
                    questionnaire and contract that you need to fill out and
                    return prior to that.
                </p>
            </li>
            <li class="icon fa-calendar-o">
                <h3>Appointments</h3>
                <p>
                    Currently, I can only offer weekday appointments after 6pm
                    or at weekends.
                </p>
            </li>
            <li class="icon fa-hand-stop-o">
                <h3>Cancellations</h3>
                <p>
                    Augue consectetur sed interdum imperdiet et ipsum. Mauris
                    lorem tincidunt nullam amet leo Aenean ligula consequat
                    consequat.
                </p>
            </li>
        </ul>
    </div>
</section>
